*{
	box-sizing:border-box;
	margin:0px;
}
.background-color{
	max-width:1280px;
	overflow:auto;
	background-color: #f5f4f4;
	font-family:Lato;
	display:flex;
	flex-direction:column;
	margin:auto;
}  
.createrect{
	padding-left:30px;
	
}
.uniline{
	display:inline-block;
}   
.container-one-wrap{
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;

}
.container-two-warp{
	display:flex;
	flex-direction:row-reverse;
	flex-wrap:wrap;

}
.icon-positioning{
  padding-left:30px;
  padding-right:30px;
}

.dashboard-fontposition-styling{

  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  
}
.services-fontposition-styling{
	
  font-family: Lato;
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-left:30px;
  padding-right:30px;
  
}
.login-image-positioning{
	padding-left:15px;
	padding-right:15px;
}

.main{
	display:flex;
	flex:1;
		}
.linking-connectivity{
	 background-color: #ffffff;
  background-color: var(--white);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05)

}

.linking-connectivity {
	list-style-type:none;
	text-align:center;
	padding:4px;
	background-color: white;
	clear:left;

}

.codequ{
	font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ed008c;
}
img{
	float:left;
}
aside{
	overflow:auto;
	 background-color: #242c34;
  
}

.contents-container{
	flex:1;

}
.subcontents-container{

	padding:20px 30px 20px 30px;
}
header {
   padding:5px;
    background-color: #2b343e;
    display:flex;
    justify-content:space-between;
 }
 ul{
 	list-style-type:none;
 	padding:0;
 	overflow:hidden;
 

 }
li{
 	text-decoration: none;
 	align-self:center;
 	float:left;
 	padding:5px;
 	
}
 
 #slash-positioning{
 	display:inline-block;
 }
 #home-link{
 	display:inline-block;
 
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  
  
 }


 #services-link{
 	display:inline-block;
 	
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  
  
 }

 #serviceone-link{
 	display:inline-block;
 	
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  
  
 }

 #device-link{
 	display:inline;
 	 width: 22px;
  height: 15px;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  
}

#over{
	  font-family: Lato;
  
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #909090;
}
 
 .outercontent{
 	padding:4px;
 	background-color: #36414c;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
 }
 .innercontent{
 	padding:5px;
 	overflow:auto;
 }
 p{
 	
  font-family: Helvetica;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding:8px 10px 8px 10px;
  
 }
 .rec{
 	display:flex;
 	flex-direction:column;
 	flex-wrap:wrap;
 	align-items:flex-start;
 	justify-content:space-around;
 	padding:10px;
 }
 .same{
 
 width:190px;
 
  opacity: 0.45;
  border-radius: 3px;
  background-color: #ffffff;
  margin:20px;
  padding:15px;
  box-shadow: 0 2px 4px 0 rgba(181, 181, 212, 0.41);
 }
 .different{
 	width:228px;
  height:114px;
    border-radius: 3px;
 	 background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(181, 181, 212, 0.41);
     margin:10px 10px 10px 10px;
  
 }
 .dev{
 
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding:5px;
  display:inline-block;
  
 }
 .serv{
 	  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #909090;
 padding:5px;
  display:inline-block;
 }
 .stat{
   font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5cae01;
  padding:5px 5px 5px 5px;
  display:inline-block;
}
 .linking{
 	background-color:#f5f4f4;
 	list-style-type:none;
 	text-align:center;
 	border-style:hidden;
   
 	padding:10px 0px;
 }
 .linking a {
 	
 	text-decoration:none;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #909090;
 
  display:inline-block;
  float:left;
 }
 
.navigation a:hover{
	color: black;
	text-decoration:underline;
	background-color:transparent;
}
.same .rec a:hover{
	background-color:white;

}


.navigation a{
	color:red;

}

 .sam a:hover{
 	text-decoration:underline;
 	color:hotpink;
 }
.scrollingtable{
    height:300px;
    overflow:auto;
}


tr:first-child{
	border-bottom:solid 1px #dddddd;
}
.sc{
	overflow:auto;
	height:250px;
	
}

 .oval{

height:10px;
width:10px;
background-color:#5cae01;
border-radius:50%;
display:inline-block;

 }
 .box1{
 	
  border-radius: 3px;
  background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.box2{
	padding:10px;
  background-color: #ffffff;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
 .stage1{
 	padding:10px;
  border-radius: 3px;
  background-color: #ffffff;
}
.stage2{
	padding:10px;
}
div.stage3{
	text-align:right;
}
.italic{
 
  height: 20px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  
  color: #5cae01;
}
.cd{
	
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
 padding:5px;
 display:inline-block;
}
.image{
	display:inline-block;

}
.col{
	width:19%;
    display:inline-block;
	border-right:solid 1px #dddddd;
	
}
.wrap-container{
	padding:10px;
}
.hide{
	border-right:none;
}
.stage3{

  padding:10px;
  background-color: #ffffff;
   box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.11);
}
.innerbox{
	
	padding:5px;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
  border-style: none;
}
.a{
	
padding:5px;
margin:10px;
  background-color: #5cae01;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.11);
}
.b{
	 
  background-color: #d8d8d8;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.11);
  margin:10px;
}
.babs{
   width:75%;
   min-height:100%;
	padding:5px;
  background-color: #1ea6ce;
 }
.c{
  background-color: #d8d8d8;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.11);
  margin:10px;

}
.cabs{
	width:10%;
   min-height:100%;
   padding:5px;	
  background-color: #1ea6ce;
 }

.d{

  background-color: #d8d8d8;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.11);
  margin:10px;
}
.dabs{
	width:55%;
   min-height:100%;
	padding:5px;
  background-color: #1ea6ce;
}
.e{
	
  background-color: #d8d8d8;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.11);
  margin:10px;
}
.eabs{
	width:20%;
   min-height:100%;
	padding:5px;
  background-color: #1ea6ce;

}

.addons{

  font-family: Lato;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
 
  padding:5px;
}
.centered img{
	display:inline-block;
}
.samefontcolor{
	display:inline-block;
  font-family: Lato;
  font-size: 12px;
   font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  } 
.floating{
	float:left;
	padding-top:5px;
}
.clearfix::after{
	content:"";
	clear:both;
	display:table;
}


.samefont{
 max-width: 80%;
  min-height: 20%;
  opacity: 0.45;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
 

}
.centered{

	border-style:none;
	border-width:none;
	padding:10px;
}
.date{
 
  opacity: 0.45;
  font-family: Lato;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #aaaaaa;
  
}
#code{
	padding:2px;
	color:#dddddd;
}
.innercontent{
	overflow:auto;
}
.innerone{
	
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
   padding:10px;
   display:inline-block;
}
table{
	border-collapse:collapse;
	width:100%;
}
td{
	padding:8px;
	text-align:left;
}
 th{
 max-width: 30px;
  height: 12px;
  font-family: Lato;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2b343e;
  padding:8px;
 }
 
 .pink-color-styling{
max-width: 138.5px;
  height: 17px;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ed008c;
 }
 .red-color-styling{
 max-width: 52px;
  height: 17px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #d0021b;

 }
 .green-color-styling{
 max-width: 77.9px;
  height: 17px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #60b602;
}
 
 .hot-pink{
 
  border-radius:14px;
  border: solid 1px #ed008c;
  width:50px;
  font-size:12px;
  display:inline-block;
  padding:5px 5px 5px 5px;
  text-align:center;
  color:hotpink;
  margin:10px 10px 5px 8px;
 }
 .sam{
 	padding-right:30px;
 }